.yeahub-checkbox__wrapper {
  display: inline-flex;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  .yeahub-checkbox_input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

    ~.yeahub-checkbox_text {
      flex-grow: 1;
      white-space: normal;
      margin-inline-start: 5px;
    }

    &:checked {
      +.yeahub-checkbox {
        border: 2px solid var(--palette-ui-purple-700);
        background: var(--palette-ui-purple-700);

        .yeahub-checkbox_icon {
          stroke: var(--palette-ui-white-900);
          stroke-width: 2px;
        }
      }

      &:disabled {
        +.yeahub-checkbox {
          border: 2px solid var(--palette-ui-black-50);

          .yeahub-checkbox_icon {
            stroke: var(--palette-ui-black-500);
          }

        }

        ~.yeahub-checkbox_text {
          color: var(--palette-ui-black-200);
        }
      }
    }

    &:disabled {
      +.yeahub-checkbox {
        border: 2px solid var(--palette-ui-black-50);
        background: var(--palette-ui-black-25);
        cursor: not-allowed;

      }

      ~.yeahub-checkbox_text {
        color: var(--palette-ui-black-200);
        cursor: not-allowed;
      }
    }

  }

  .yeahub-checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--palette-ui-black-50);
    border-radius: var(--yeahub-border-radius-sm);
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;

    &:hover {
      border-color: var(--palette-ui-purple-500);
    }

    &:focus {
      border-color: var(--palette-ui-purple-700);
    }

  }

}