.yeahub-select {
  min-width: 150px;
}

.yeahub-select-interactable,
.yeahub-select-interactable * {
  cursor: pointer;
  position: relative;
}

.yeahub-select-disabled *,
.yeahub-select-disabled {
  cursor: not-allowed;
}

.yeahub-select-disabled.yeahub-select-interactable::after,
.yeahub-select-disabled.yeahub-select-interactable::after {
  display: none;
}

.yeahub-select-interactable::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: transparent;
  pointer-events: none;
  transition: 0.2s ease;
}

.yeahub-select-interactable:hover::after {
  background-color: #c5bcbc26;
}

.yeahub-select-menu-option::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: transparent;
  transition: 0.3s ease;
}
.yeahub-select-menu-option:hover::before {
  background-color: var(--palette-ui-purple-700);
}

[class*='yeahub-select']:not(.yeahub-select-menu-option):focus-visible {
  position: relative;
  z-index: 10;
  outline: 2px solid var(--palette-ui-purple-800);
  outline-offset: -8px;
}

.yeahub-select-menu-option:focus-visible {
  position: relative;
  z-index: 10;
  outline: 2px solid var(--palette-ui-purple-800);
  outline-offset: 4px;
  border-radius: var(--yeahub-border-radius-sm);
}

.yeahub-select-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--palette-ui-purple-700);
  border-radius: var(--yeahub-border-radius-round);
  position: relative;
  gap: 1px;
  overflow: hidden;
  background-color: var(--palette-ui-purple-200);
}

.yeahub-select-wrapper {
  position: relative;
  display: flex;
  gap: 1px;
  flex: 1 0 0;
  overflow-x: auto;
  align-self: stretch;
  align-items: flex-start;
}

.yeahub-select-placeholder {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--palette-ui-black-300);
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--palette-ui-white-900);
  padding: 0px 8px 0px 12px;
}

.yeahub-select-native-element {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0px 8px 0px 12px;
  text-overflow: ellipsis;
  border: 0;
  height: 34px;
  width: 100%;
  color: var(--palette-ui-black-900);
  font: inherit;
  background-color: var(--palette-ui-white-900);

  &.yeahub-select-native-element-no-value {
    opacity: 0;
  }
}

.yeahub-select-custom-chevron-container {
  display: flex;
  width: 34px;
  flex-shrink: 0;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: stretch;
  background-color: var(--palette-ui-white-900);
}

.yeahub-select-clear-container {
  display: flex;
  min-width: 34px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--palette-ui-white-900);
}

.yeahub-select-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--palette-ui-white-900);
  border-color: transparent;
  border-radius: 6px;
}

.yeahub-select-menu-option {
  display: flex;
  height: 38px;
  gap: 6px;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  position: relative;

  &.yeahub-select-disabled {
    background: var(--palette-ui-black-25);
    pointer-events: none;
  }
}
