.yeahub-tooltip {
  border-radius: var(--yeahub-border-radius-xxlg);
  padding: 16px 12px 16px 12px;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 600;
  max-width: 295px;
  z-index: 999;
  background-color: var(--palette-ui-white-900);
}