:root {
  --palette-ui-purple-900: #400799;
  --palette-ui-purple-800: #5509cc;
  --palette-ui-purple-700: #6a0bff;
  --palette-ui-purple-600: #883cff;
  --palette-ui-purple-500: #a66dff;
  --palette-ui-purple-400: #c39dff;
  --palette-ui-purple-300: #d2b6ff;
  --palette-ui-purple-200: #e1ceff;
  --palette-ui-purple-100: #f0e7ff;
  --palette-ui-purple-50: #fdf4ff;

  --palette-ui-red-900: #880727;
  --palette-ui-red-800: #af0932;
  --palette-ui-red-700: #d50b3e;
  --palette-ui-red-600: #f3164e;
  --palette-ui-red-500: #f53d6b;
  --palette-ui-red-400: #f76489;
  --palette-ui-red-300: #f98ba6;
  --palette-ui-red-200: #fbb1c4;
  --palette-ui-red-100: #fdd8e1;
  --palette-ui-red-25: #ffecf5;

  --palette-ui-orange-900: #faaf00;
  --palette-ui-orange-800: #ffc233;
  --palette-ui-orange-700: #ffce5c;
  --palette-ui-orange-600: #ffda85;
  --palette-ui-orange-500: #ffe7ad;
  --palette-ui-orange-400: #fff3d6;

  --palette-ui-green-900: #17663a;
  --palette-ui-green-800: #1e874c;
  --palette-ui-green-700: #26a95f;
  --palette-ui-green-600: #2dca72;
  --palette-ui-green-500: #56d990;
  --palette-ui-green-400: #84e4ae;
  --palette-ui-green-300: #b2eecc;
  --palette-ui-green-200: #dff8ea;
  --palette-ui-green-100: #eefbf4;

  --palette-ui-black-900: #191919;
  --palette-ui-black-800: #303030;
  --palette-ui-black-700: #474747;
  --palette-ui-black-600: #5e5e5e;
  --palette-ui-black-500: #757575;
  --palette-ui-black-400: #8c8c8c;
  --palette-ui-black-300: #a3a3a3;
  --palette-ui-black-200: #bababa;
  --palette-ui-black-100: #d1d1d1;
  --palette-ui-black-50: #e8e8e8;
  --palette-ui-black-25: #f4f4f4;

  --palette-ui-white-900: #ffffff;
}
