.yeahub-interactable,
.yeahub-interactable * {
  cursor: pointer;
  position: relative;
}

.yeahub-disabled *,
.yeahub-disabled {
  cursor: not-allowed;
}

[class*="yeahub"].yeahub-interactable::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: transparent;
  pointer-events: none;
}

[class*="yeahub"] .yeahub-interactable:hover::after {
  background-color: #FFFFFF19;
}

[class*="yeahub"] .yeahub-interactable:active::after {
  background-color: #be0b0b26;
}

[class*="yeahub"]:focus-visible {
  outline: 2px solid var(--yeahub-color-state-focus);
  outline-offset: 0.1em;
  border-radius: var(--yeahub-border-radius-sm);
}

.yeahub-disabled.yeahub-interactable::after,
.yeahub-disabled.yeahub-interactable::after {
  display: none;
}