.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  background: transparent;
  outline: none;
  line-height: 1.5;
  border-radius: 4px;
  &.small {
    padding: 0px 7px;
    font-size: 14px;
  }

  &.middle {
    padding: 4px 11px;
  }

  &.large {
    padding: 7px 11px;
    font-size: 16px;
    border-radius: 8px;
  }
}

.addonBefore,
.addonAfter {
  display: flex;
  align-items: center;
  justify-content: center;
}